.slider-item{
  max-height: 250px;
  border-radius: 10px;
  cursor: pointer;

  > img{
    border-radius: 10px;
    width: 100%;
  }
}

.slick-list{
  border-radius: 10px;
}

.slider-content{
  overflow-y: hidden;
}